version: "3.9"

services:
  db:
    build: ./database
    container_name: recipes_db
    environment:
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: apppassword
      POSTGRES_DB: recipesdb
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: recipes_backend
    environment:
      DB_HOST: db
      DB_USER: postgres
      DB_PASSWORD: ahmad1807
      DB_NAME: recipesdb
      DB_PORT: 5432
    depends_on:
      - db
    ports:
      - "5000:5000"

  frontend:
    build: ./frontend
    container_name: recipes_frontend
    depends_on:
      - backend
    ports:
      - "8080:80"

volumes:
  dbdata:
