apiVersion: v1
kind: Namespace
metadata:
  name: recipes-app
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
  namespace: recipes-app
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-config
  namespace: recipes-app
data:
  POSTGRES_DB: recipesdb
  POSTGRES_USER: admin
  POSTGRES_PASSWORD: admin123
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: recipes-db
  namespace: recipes-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: recipes-db
  template:
    metadata:
      labels:
        app: recipes-db
    spec:
      containers:
        - name: postgres
          image: three_tier_recipes_system-db:latest
          imagePullPolicy: Never
          envFrom:
            - configMapRef:
                name: postgres-config
          ports:
            - containerPort: 5432
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: postgres-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: recipes-db
  namespace: recipes-app
spec:
  selector:
    app: recipes-db
  ports:
    - port: 5432
      targetPort: 5432
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: recipes-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: three_tier_recipes_system-backend:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 5000
          env:
            - name: DB_HOST
              value: recipes-db
            - name: DB_PORT
              value: "5432"
            - name: DB_USER
              valueFrom:
                configMapKeyRef:
                  name: postgres-config
                  key: POSTGRES_USER
            - name: DB_PASSWORD
              valueFrom:
                configMapKeyRef:
                  name: postgres-config
                  key: POSTGRES_PASSWORD
            - name: DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: postgres-config
                  key: POSTGRES_DB
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: recipes-app
spec:
  selector:
    app: backend
  ports:
    - port: 5000
      targetPort: 5000
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: recipes-frontend
  namespace: recipes-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: recipes-frontend
  template:
    metadata:
      labels:
        app: recipes-frontend
    spec:
      containers:
        - name: frontend
          image: three_tier_recipes_system-frontend:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: recipes-frontend
  namespace: recipes-app
spec:
  type: NodePort
  selector:
    app: recipes-frontend
  ports:
    - port: 80          # Service port
      targetPort: 80    # Port exposed by the container
      nodePort: 30080   # Exposed on localhost:30080
